In [34]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd

In [35]:
anova_df = pd.read_csv("context.csv")
anova_df.head()

   advertising  brand  context  m_aad_un
0            1      0        1  7.000000
1            1      1        1  2.333333
2            0      1        0  3.666667
3            0      0        0  5.666667
4            1      0        1  4.666667

In [36]:
anova_df = anova_df.rename(columns={"m_aad_un" : 'ad_score'})
anova_df.head()

   advertising  brand  context  ad_score
0            1      0        1  7.000000
1            1      1        1  2.333333
2            0      1        0  3.666667
3            0      0        0  5.666667
4            1      0        1  4.666667

In [37]:
anova_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   advertising  243 non-null    int64
 1   brand        243 non-null    int64
 2   context      243 non-null    int64
 3   ad_score     243 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 7.7 KB

In [38]:
#descriptive
anova_df.describe()

       advertising       brand     context    ad_score
count   243.000000  243.000000  243.000000  243.000000
mean      0.497942    0.497942    0.514403    5.137174
std       0.501028    0.501028    0.500824    1.373842
min       0.000000    0.000000    0.000000    2.000000
25%       0.000000    0.000000    0.000000    4.333333
50%       0.000000    0.000000    1.000000    5.333333
75%       1.000000    1.000000    1.000000    6.333333
max       1.000000    1.000000    1.000000    7.000000

In [33]:
#running some basic decsription on the data types
anova_df['advertising'].value_counts()

0    122
1    121
Name: advertising, dtype: int64

In [41]:
anova_df['context'].value_counts()

1    125
0    118
Name: context, dtype: int64

In [42]:
anova_df['brand'].value_counts()

0    122
1    121
Name: brand, dtype: int64

In [40]:
#mean across 8 types
anova_df.groupby(['advertising', 'context', 'brand']).mean()

                           const  ad_score
advertising context brand
0           0       0        1.0  5.712644
                    1        1.0  4.101190
            1       0        1.0  4.958333
                    1        1.0  4.772727
1           0       0        1.0  5.888889
                    1        1.0  5.032258
            1       0        1.0  5.666667
                    1        1.0  4.942529

In [48]:
#doing anova testing since our IVs are nominals and DV is a metric
anova_df = sm.add_constant(anova_df)
anova_ouput = ols('ad_score ~ advertising * brand * context', data = anova_df).fit()
table = sm.stats.anova_lm(anova_ouput, typ = 2)

table

                               sum_sq     df          F    PR(>F)
advertising                 14.912250    1.0   9.111377  0.002820
brand                       40.977212    1.0  25.037056  0.000001
advertising:brand            0.122223    1.0   0.074678  0.784883
context                      0.601250    1.0   0.367364  0.545030
advertising:context          0.186890    1.0   0.114190  0.735725
brand:context                9.229432    1.0   5.639178  0.018367
advertising:brand:context    6.334257    1.0   3.870228  0.050326
Residual                   384.615698  235.0        NaN       NaN