In [2]:
#import packages

import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.formula.api import ols

In [3]:
main_df = pd.read_csv('Moderation.csv')
main_df.head()

   StoreLoyalty  LoyaltyCard  StoreSatisfaction
0             3            1                  0
1             3            0                  0
2             4            1                  1
3             4            1                  1
4             1            0                  0

In [4]:
main_df.shape

(101, 3)

In [5]:
main_df.describe()

       StoreLoyalty  LoyaltyCard  StoreSatisfaction
count    101.000000   101.000000         101.000000
mean       2.049505     0.455446           0.425743
std        1.169412     0.500495           0.496921
min        1.000000     0.000000           0.000000
25%        1.000000     0.000000           0.000000
50%        2.000000     0.000000           0.000000
75%        3.000000     1.000000           1.000000
max        5.000000     1.000000           1.000000

In [6]:
main_df['LoyaltyCard'].value_counts()

0    55
1    46
Name: LoyaltyCard, dtype: int64

In [7]:
main_df['StoreSatisfaction'].value_counts()

0    58
1    43
Name: StoreSatisfaction, dtype: int64

In [11]:
main_df.groupby(['LoyaltyCard', 'StoreSatisfaction']).mean()

                               StoreLoyalty
LoyaltyCard StoreSatisfaction
0           0                      1.687500
            1                      1.913043
1           0                      1.615385
            1                      3.350000

In [12]:
main_df.groupby(['LoyaltyCard', 'StoreSatisfaction']).std()

                               StoreLoyalty
LoyaltyCard StoreSatisfaction
0           0                      0.895779
            1                      1.164359
1           0                      0.941357
            1                      0.933302

In [18]:
main_df = sm.add_constant(main_df)

#some squared values are not matching, signficance value matches. Need to check the formula too
model = ols('StoreLoyalty ~ StoreSatisfaction * LoyaltyCard + LoyaltyCard', data=main_df).fit() #general formula is DV ~ IV + covariates

anova_table = sm.stats.anova_lm(model, typ = 2)

print("model Parameters: ",model.params) #what about these?
print("Model r squared", round(model.rsquared*100, 2)) #r squared matches
print(anova_table)

model Parameters:  Intercept                        1.687500
StoreSatisfaction                0.225543
LoyaltyCard                     -0.072115
StoreSatisfaction:LoyaltyCard    1.509072
dtype: float64
Model r squared 31.7
                                  sum_sq    df          F    PR(>F)
StoreSatisfaction              20.739372   1.0  21.537611  0.000011
LoyaltyCard                     8.208727   1.0   8.524673  0.004356
StoreSatisfaction:LoyaltyCard  13.954904   1.0  14.492015  0.000247
Residual                       93.404933  97.0        NaN       NaN